.container_background{
    z-index:10;
  }
  
  .left_background {
    z-index: 10;
    background: url("../../assets/images/tree.jpg");
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  
    h2 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 115px;
      font-weight: bolder;
      letter-spacing: 12px;
      background: #fff;
    }
  }
  
  .right_background {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background: url("../../assets/images/code.jpg");
  
    h2 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 92px;
      font-weight: bolder;
      letter-spacing: 12px;
      background: #fff;
    }
  }