a {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  padding-bottom: 10px;
  color: $black-color;
  text-decoration: none;
}

.header_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 220px;
  height: 200px;
  background-color: $white-color;
  border-radius: 30px;
  right: -220px;
  top: 85px;
  font-size: 18px;
  padding-left: 10px;
  box-shadow: $box-shadow;
  opacity: 0;
  z-index: 9999;
  &:hover {
    box-shadow: $box-shadow-hover;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.wrapper_hamburger {
  position: absolute;
  right: 35px;
  top: 35px;
  margin-bottom: 10px;
}

.signout-btn {
  font-family: Monserrat;
  font-size: 22px;
  font-weight: 700;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: $box-shadow;
}
