table {
    margin-top: 50px;
  border-spacing: 0;
  border: 1px solid $white-color;
 
  th,
  td {
    color:$white-color;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $white-color;
    border-right: 1px solid $white-color;

    :last-child {
      border-right: 0;
    }
  }
  input{
      height: 35px;
      border-radius: 10px;
      color: $white-color;
  }
}
