.container_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.container_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 250px;
}

.change_pagination {
  margin-right: 255px;
  color: $white-color;
}

.container_button_pagination {
  display: flex;
  align-items: center;
}
.button_pagination {
  width: 125px;
  height: 25px;
  background-color: $white-color;
  color: $black-color;
  cursor: pointer;
  margin-right: 10px;
}

.container_input_pagination {
  display: flex;
  align-items: center;
  color: $white-color;
  select {
    margin-left: 15px;
    background-color: $input-color;
    width: 200px;
    height: 35px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
}

.input_pagination {
  background-color: $input-color;
  margin-left: 15px;
  width: 200px;
  height: 35px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .container_pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 250px;
  }
  .button_pagination {
    margin-bottom: 15px;
  }
}
